@use '../../../styles/variables';

.footer-main {
  &__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 13px 36px;

    @media (width <= 768px) {
      flex-direction: column;
      padding: clamp(2.5rem, 1.0494rem + 6.9284vw, 4.375rem)
        clamp(0.75rem, -0.4105rem + 5.5427vw, 2.25rem);
    }
  }

  &__column {
    &--left,
    &--right {
      display: flex;
      gap: 32px;

      @media (width <= 976px) {
        max-width: 296px;
        width: 100%;
        flex-direction: column;
        gap: 0;
      }
    }

    &--right {
      @media (width <= 976px) {
        hr {
          width: 100%;
          height: 1px;
          background-color: red;
          border: none;
        }

        gap: 10px;
      }
    }
  }

  &__link {
    text-decoration: none;
    color: variables.$black;
    font-family: variables.$font-family-primary;
    font-size: 18px;
    font-weight: 400;
    line-height: 100%;
    letter-spacing: 0;
    text-align: left;

    @media (width <= 768px) {
      margin: 0 auto;
      font-size: clamp(1rem, 0.9033rem + 0.4619vw, 1.125rem);
    }

    img {
      display: block;
    }
  }

  &__copyright {
    background-color: variables.$black;
    padding: 13px 0;

    small {
      display: block;
      color: variables.$white;
      font-size: 12px;
      font-weight: 400;
      line-height: 14px;
      letter-spacing: 0;
      text-align: center;
      margin: 0;
    }
  }
}
