<footer class="footer-main" role="contentinfo">
  <div class="footer-main__content container">
    <div class="footer-main__column--left">
      <a class="footer-main__link" href="#" aria-label="Cyberpunk 2077 - официальный сайт"
        ><img
          src="../../../assets/images/vector/footer-cyberpunk-logo.svg"
          width="296"
          height="74"
          alt="Cyberpunk 2077"
      /></a>
      <a class="footer-main__link" href="#" aria-label="CD Project - официальный сайт"
        ><img
          src="../../../assets/images/vector/footer-projekt-logo.svg"
          width="172"
          height="74"
          alt="CD Project"
      /></a>
    </div>
    <div class="footer-main__column--right">
      <a class="footer-main__link" href="#">Лицензия</a>
      <hr/>
      <a class="footer-main__link" href="#">Политика конфиденциальности</a>
    </div>
  </div>
  <div class="footer-main__copyright">
    <small>CD PROJEKT®, Cyberpunk®, Cyberpunk 2077®</small>
  </div>
</footer>
