// ===== COLOR =====
$black: rgb(0 0 0 / 100%);
$yellow: rgb(248 242 0 / 100%);

/* Фон */

/* Компоненты */

// ===== TYPOGRAPHY =====

$font-family-primary: 'Roboto', sans-serif;
$font-family-secondary: 'Archangelsk', sans-serif;
