// ===== COLOR =====
$black: rgb(0 0 0 / 100%);
$yellow: rgb(248 242 0 / 100%);
$grey: rgb(119 119 119 / 100%);
$aqua: rgb(82 190 220 / 100%);
$white: rgb(255 255 255 / 100%);

/* Фон */

/* Компоненты */

// ===== TYPOGRAPHY =====

$font-family-primary: 'Roboto', sans-serif;
$font-family-secondary: 'Archangelsk', sans-serif;
