@use '../../../styles/variables';

.buy {
  background-color: variables.$black;
  position: relative;

  @media (width <= 768px) {
    display: flex;
    flex-direction: column;
  }

  &__content {
    display: flex;
    justify-content: flex-end;
    padding: 0 36px;

    @media (width <= 768px) {
      justify-content: flex-start;
      padding: clamp(2.5rem, 1.0494rem + 6.9284vw, 4.375rem)
        clamp(0.75rem, -0.4105rem + 5.5427vw, 2.25rem);
    }
  }

  &__title {
    &--content {
      max-width: 624px;
      width: 100%;
      color: variables.$white;
      font-family: variables.$font-family-secondary;
      font-size: 62px;
      font-weight: 400;
      line-height: 100%;
      letter-spacing: 0;
      text-align: left;
      margin: 0 0 25px;

      @media (width <= 768px) {
        font-size: clamp(1.875rem, 0.3277rem + 7.3903vw, 3.875rem);
      }
    }

    &--info {
      color: variables.$aqua;
      font-size: 24px;
      font-weight: 700;
      line-height: 100%;
      letter-spacing: 0;
      text-align: left;
      margin: 0 0 15px;

      @media (width <= 768px) {
        font-size: clamp(1.25rem, 1.0566rem + 0.9238vw, 1.5rem);
      }
    }
  }

  &__wrapper {
    &--content {
      max-width: 640px;
      width: 50%;
      padding: 70px 70px 70px 16px;

      @media (width <= 1024px) {
        width: calc(100% - 32.5%);
      }

      @media (width <= 768px) {
        max-width: 665px;
        width: 100%;
        padding: 0;
      }
    }
  }

  &__image {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    max-width: 944px;
    width: 50%;
    height: 100%;
    object-fit: cover;

    @media (width <= 1024px) {
      max-width: 332px;
      width: 32.5%;
    }

    @media (width <= 768px) {
      position: static;
      display: block;
      max-width: 320px;
      width: 100%;
      height: auto;
      margin: 0 auto;
    }
  }

  &__list {
    &--kit {
      list-style: none;
      padding: 0;
      margin: 0;

      @media (width <= 768px) {
        li {
          font-size: clamp(1rem, 0.9033rem + 0.4619vw, 1.125rem);
        }
      }
    }

    &--platform {
      max-width: 320px;
      list-style: none;
      padding: 0;
      margin: 0;
      gap: 46.56px 79px;
      display: grid;
      align-items: center;
      grid-template-columns: 1fr 2fr;

      @media (width <= 768px) {
        gap: clamp(2.5625rem, 2.2936rem + 1.2841vw, 2.91rem)
          clamp(3.5rem, 2.3878rem + 5.3118vw, 4.9375rem);
      }
    }
  }

  &__item {
    &--kit {
      display: flex;
      align-items: center;
      gap: 10px;
      color: variables.$white;
      line-height: 100%;
      letter-spacing: 0;
      text-align: left;
      font-weight: 400;

      &:not(:last-child) {
        margin-bottom: 15px;
      }

      &:last-child {
        margin-bottom: 70px;
      }

      &::before {
        content: '';
        display: block;
        width: 32px;
        height: 32px;
        background-repeat: no-repeat;
        background-position: center;

        @media (width <= 768px) {
          flex-shrink: 0;
        }
      }

      &:nth-child(1) {
        &::before {
          background-image: url('../../../assets/images/vector/buy-decorate-img-1.svg');
        }
      }

      &:nth-child(2) {
        &::before {
          background-image: url('../../../assets/images/vector/buy-decorate-img-2.svg');
        }
      }

      &:nth-child(3) {
        &::before {
          background-image: url('../../../assets/images/vector/buy-decorate-img-3.svg');
        }
      }
    }
  }
}
