<section class="buy" aria-labelledby="title-main">
  <h2 id="title-main" class="buy__title--main visually-hidden">Купить игру</h2>
  <div class="buy__wrapper--image">
    <picture>
      <source srcset="../../../assets/images/raster/buy-cover-mobile.jpg" media="(max-width: 768px)">
      <source srcset="../../../assets/images/raster/buy-cover-table.jpg" media="(max-width: 1024px)">
      <img class="buy__image" src="../../../assets/images/raster/buy-cover-default.jpg" width="944" height="717"
           alt="Диски с игрой CyberPunk 2077">
    </picture>
  </div>
  <div class="buy__content container">
    <div class="buy__wrapper--content">
      <h3 class="buy__title--content">Купить игру Cyberpunk 2077</h3>
    </div>
  </div>
</section>

