<section class="about">
  <div class="about__content container">
    <h2 class="about__title">Найт-Сити изменит тебя навсегда!</h2>
    <p class="about__text">
      <span>Cyberpunk 2077</span> — приключенческая ролевая игра, действие которой происходит в
      мегаполисе Найт-Сити, где власть, роскошь и модификации тела ценятся выше всего. Ты играешь за
      V, наёмника в поисках устройства, позволяющего обрести бессмертие. Ты сможешь менять
      киберимпланты, навыки и стиль игры своего персонажа, исследуя открытый мир, где твои поступки
      влияют на ход сюжета и всё, что тебя окружает.
    </p>
    <div class="about__wrapper">
      <div class="about__column">
        <div class="about__img-wrapper">
          <img
            class="about__image"
            src="../../../assets/images/raster/about-photo-1.jpg"
            width="460"
            height="196"
          />
        </div>
        <div class="about__img-wrapper">
          <img
            class="about__image"
            src="../../../assets/images/raster/about-photo-2.jpg"
            width="460"
            height="196"
          />
        </div>
      </div>
      <div class="about__img-wrapper--big">
        <img
          class="about__image"
          src="../../../assets/images/raster/about-photo-3.jpg"
          width="460"
          height="196"
        />
      </div>
    </div>
  </div>
</section>
