@use '../../../styles/variables' as variables;
@use '../../../assets/scss/functions' as *;

.about {
  &__content {
    padding: 70px 36px;

    @media (width <= 768px) {
      padding: 70px clamp(0.75rem, -0.4105rem + 5.5427vw, 2.25rem);
    }
  }

  &__title {
    color: variables.$black;
    font-family: variables.$font-family-secondary;
    font-size: 62px;
    font-weight: 400;
    line-height: 100%;
    letter-spacing: 0;
    text-align: left;
    margin: 0 0 25px;
    max-width: 996px;
    width: 100%;

    @media (width <= 1024px) {
      max-width: 620px;
    }

    @media (width <= 768px) {
      font-size: clamp(1.875rem, 0.3277rem + 7.3903vw, 3.875rem);
    }
  }

  &__text {
    line-height: 34px;
    letter-spacing: 0;
    text-align: left;
    color: variables.$grey;
    font-weight: 400;
    max-width: 952px;
    width: 100%;
    margin: 0 0 70px;

    span {
      color: variables.$aqua;
    }

    @media (width <= 1024px) {
      max-width: 788px;
    }

    @media (width <= 768px) {
      font-size: clamp(1rem, 0.9033rem + 0.4619vw, 1.125rem);
    }
  }

  &__wrapper {
    display: flex;
    gap: 32px;

    @media (width <= 1024px) {
      flex-direction: column;
    }
  }

  &__img-wrapper {
    max-width: 460px;
    width: 100%;
  }

  &__image {
    display: block;
    width: 100%;
    height: auto;
  }

  &__column {
    .about__img-wrapper:not(:last-child) {
      margin-bottom: 30px;
    }

    @media (width <= 1024px) {
      display: flex;
      gap: 32px;

      .about__img-wrapper:not(:last-child) {
        margin-bottom: 0;
      }
    }

    @media (width <= 335px) {
      flex-direction: column;
    }
  }
}
