@use '../../../styles/variables' as variables;
@use '../../../assets/scss/functions' as *;

.about {
  &__content {
    padding: 70px 20px;
  }

  &__title {
    color: variables.$black;
    font-family: variables.$font-family-secondary;
    font-size: 62px;
    font-weight: 400;
    line-height: 100%;
    letter-spacing: 0;
    text-align: left;
    margin: 0 0 25px;
    max-width: 996px;
    width: 100%;
  }

  &__text {
    line-height: 34px;
    letter-spacing: 0;
    text-align: left;
    color: variables.$grey;
    font-weight: 400;
    max-width: 952px;
    width: 100%;
    margin: 0 0 70px;

    span {
      color: variables.$aqua;
    }
  }

  &__wrapper {
    display: flex;
    gap: 32px;
  }

  &__img-wrapper {
    max-width: 460px;
    width: 100%;
  }

  &__image {
    display: block;
    width: 100%;
    height: auto;
  }

  &__column {
    .about__img-wrapper:not(:last-child) {
      margin-bottom: 30px;
    }
  }
}
