@use '../../../styles/variables';

.stock {
  background-color: variables.$black;
  position: relative;

  &::before {
    content: '';
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    background-image: url('../../../assets/images/raster/stock-bg.png');
    background-repeat: repeat-x;
  }

  &__content {
    padding: 15px 36px 70px;

    @media (width <= 768px) {
      padding: 70px clamp(0.75rem, -0.4105rem + 5.5427vw, 2.25rem);
    }
  }

  &__title {
    display: flex;
    align-items: center;
    gap: 32px;
    color: variables.$white;
    font-family: variables.$font-family-secondary;
    font-size: 62px;
    font-weight: 400;
    line-height: 100%;
    letter-spacing: 0;
    text-align: left;
    max-width: 735px;
    width: 100%;
    margin: 0 0 25px;

    &::before {
      content: '';
      display: block;
      width: 132px;
      height: 132px;
      background-image: url('../../../assets/images/vector/stock-title-image.svg');
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }

    @media (width <= 1024px) {
      max-width: 460px;
      flex-direction: column;
      align-items: flex-start;
    }

    @media (width <= 768px) {
      max-width: 681px;
      width: 100%;
      font-size: clamp(1.875rem, 0.3277rem + 7.3903vw, 3.875rem);
    }
  }

  &__text {
    color: variables.$white;
    font-weight: 400;
    max-width: 952px;
    width: 100%;
    padding-bottom: 23px;
    margin: 0 0 98px;

    span {
      color: variables.$aqua;
    }

    &--middle {
      line-height: 21px;
      text-decoration: underline;
      text-underline-position: under;
      text-underline-offset: 1px;
      margin-bottom: 7px;

      @media (width <= 768px) {
        font-size: clamp(1rem, 0.9033rem + 0.4619vw, 1.125rem);
      }
    }

    &--small {
      font-size: 12px;
      line-height: 14px;
    }

    @media (width <= 1024px) {
      width: calc(50% - 16px);
    }

    @media (width <= 768px) {
      max-width: 681px;
      width: 100%;
      font-size: clamp(1rem, 0.9033rem + 0.4619vw, 1.125rem);
      margin-bottom: clamp(2.75rem, 0.1389rem + 12.4711vw, 6.125rem);
    }
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;

    @media (width <= 768px) {
      flex-direction: column;
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 460px;
    width: 100%;

    @media (width <= 1024px) {
      width: calc(50% - 16px);
    }

    @media (width <= 768px) {
      max-width: 681px;
      width: 100%;
      order: 1;
    }
  }

  &__input {
    font-family: variables.$font-family-primary;
    font-weight: 400;
    max-width: 460px;
    width: 100%;
    background-color: transparent;
    padding: 13px 0;
    border: none;
    border-bottom: 1px solid variables.$grey;
    margin: 0 0 35px;

    &::placeholder {
      color: variables.$white;
      font-weight: 400;
      font-size: 18px;
      line-height: 100%;
      letter-spacing: 0;
      text-align: left;

      @media (width <= 768px) {
        font-size: clamp(1rem, 0.9033rem + 0.4619vw, 1.125rem);
      }
    }

    &--policy {
      pointer-events: none;
    }
  }

  &__label-file {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 460px;
    width: 100%;
    color: variables.$white;
    border: 1px dashed variables.$grey;
    padding: 38px 0;
    margin: 0 0 35px;
    cursor: pointer;
  }

  &__label--policy {
    display: flex;
    gap: 10px;
    align-items: center;
    color: variables.$white;
    font-size: 12px;
    line-height: 100%;
    letter-spacing: 0;
    text-align: left;
    cursor: pointer;

    &::before {
      content: '';
      display: block;
      width: 14px;
      height: 14px;
      border: 1px solid variables.$grey;
    }
  }

  &__label--active::before {
    background-image: url('../../../assets/images/vector/stock-check.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }

  &__submit {
    font-family: variables.$font-family-primary;
    font-weight: 700;
    font-size: 18px;
    max-width: 192px;
    width: 100%;
    background-color: variables.$yellow;
    border: none;
    padding: 19px 0;
    text-align: center;
    line-height: 21px;
    margin: 0 0 15px;
    cursor: pointer;

    @media (width <= 768px) {
      font-size: clamp(1rem, 0.9033rem + 0.4619vw, 1.125rem);
    }
  }

  &__image-wrapper {
    max-width: 788px;
    width: 100%;

    @media (width <= 1024px) {
      position: absolute;
      top: 50%;
      right: 36px;
      width: calc(46.5% - 16px);
      transform: translateY(-50%);
    }

    @media (width <= 768px) {
      max-width: 681px;
      width: 100%;
      position: static;
      transform: translateY(0);
      order: 0;
    }

    img {
      display: block;
      width: 100%;
      height: auto;
    }
  }
}
