@use '../../../styles/variables';

.stock {
  background-color: variables.$black;

  &::before {
    content: '';
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    background-image: url("../../../assets/images/raster/stock-bg.png");
    background-repeat: repeat-x;
  }

  &__content {
    padding: 15px 20px 70px;
  }

  &__title {
    display: flex;
    align-items: center;
    gap: 32px;
    color: variables.$white;
    font-family: variables.$font-family-secondary;
    font-size: 62px;
    font-weight: 400;
    line-height: 100%;
    letter-spacing: 0;
    text-align: left;
    max-width: 735px;
    width: 100%;
    margin: 0 0 25px;

    &::before {
      content: '';
      display: block;
      width: 132px;
      height: 132px;
      background-image: url("../../../assets/images/vector/stock-title-image.svg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }
  }
}
