<header class="header-main">
  <div class="header-main__content container">
    <a class="header-main__logo-link" [routerLink]="AppRoute.MAIN">
      <img class="header-main__logo-image" src="./assets/images/vector/header-logo.svg" width="296" height="74"
           alt="Логотип компьютерной игры 'Cyberpunk 2077'">
    </a>
    <nav class="header-main__nav" aria-label="Социальные сети">
      <ul class="header-main__list">
        <li class="header-main__item">
          <a class="header-main__nav-link" href="#"><img class="header-main__nav-image"
                                                src="./assets/images/vector/header-youtube.svg" alt="Youtube" width="30"
                                                height="30"></a>
        </li>
        <li class="header-main__item">
          <a class="header-main__nav-link" href="#"><img class="header-main__nav-image"
                                                src="./assets/images/vector/header-vk.svg" alt="Vkontakte" width="30"
                                                height="30"></a>
        </li>
        <li class="header-main__item">
          <a class="header-main__nav-link" href="#"><img class="header-main__nav-image"
                                                src="./assets/images/vector/header-facebook.svg" alt="Facebook" width="30"
                                                height="30"></a>
        </li>
        <li class="header-main__item">
          <a class="header-main__nav-link" href="#"><img class="header-main__nav-image"
                                                src="./assets/images/vector/header-twitter.svg" alt="Twitter" width="30"
                                                height="30"></a>
        </li>
        <li class="header-main__item">
          <a class="header-main__nav-link" href="#"><img class="header-main__nav-image"
                                                src="./assets/images/vector/header-twitch.svg" alt="Twitch" width="30"
                                                height="30"></a>
        </li>
        <li class="header-main__item">
          <a class="header-main__nav-link" href="#"><img class="header-main__nav-image"
                                                src="./assets/images/vector/header-instagram.svg" alt="Instagram" width="30"
                                                height="30"></a>
        </li>
      </ul>
    </nav>
  </div>
</header>
