@use '../../../styles/variables' as variables;
@use '../../../assets/scss/functions' as *;

.header-main {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;

  img {
    display: block;
  }

  &__logo-link {
    display: block;
    max-width: 296px;
    width: 100%;

    @media (width <= 768px) {
      max-width: 200px;
    }
  }

  &__logo-image {
    width: 100%;
    height: auto;
  }

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 36px;

    @media (width <= 768px) {
      flex-direction: column;
      gap: 10px;
      padding: clamp(0.75rem, -0.3214rem + 5.3571vw, 2.25rem);
    }
  }

  &__list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 40px;

    @media (width <= 768px) {
      gap: clamp(1.75rem, 1.2143rem + 2.6786vw, 2.5rem);
    }
  }

  &__nav-link {
    @media (width <= 768px) {
      display: block;
      width: 25px;
      height: 25px;

      img {
        width: 100%;
        height: auto;
      }
    }
  }
}
