@use '../../../styles/variables' as variables;
@use '../../../assets/scss/functions' as *;

.header-main {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;

  img {
    display: block;
  }

  &__logo-link {
    display: block;
    max-width: 296px;
    width: 100%;
  }

  &__logo-image {
    width: 100%;
    height: auto;
  }

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 36px;
  }

  &__list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 40px;
  }
}
