@use '../../../styles/variables' as variables;

.hp-promo {
  background-color: variables.$yellow;

  &::before {
    content: '';
    display: block;
    width: 100%;
    height: 70px;
    background-image: url('../../../assets/images/raster/hp-promo-bg.png');
    background-repeat: repeat-x;
  }

  &__content {
    display: flex;
    padding: 70px 36px;
  }

  &__column {
    &--left {
      max-width: 624px;
      width: 100%;
      margin-right: 32px;

      @media (width <= 1024px) {
        max-width: 460px;
      }
    }

    &--right {
      max-width: 624px;
      width: 100%;

      @media (width <= 1024px) {
        max-width: 460px;
      }
    }
  }

  &__title {
    max-width: 560px;
    width: 100%;
    font-family: variables.$font-family-secondary;
    font-size: 62px;
    font-weight: 400;
    line-height: 63px;
    letter-spacing: 0;
    text-align: left;
    margin: 0 0 25px;
  }

  &__text {
    margin: 0 0 25px;
    line-height: 31.25px;
  }

  &__wrapper-image {
    width: 100%;
    margin: 0 0 26px;

    img {
      width: 100%;
      height: auto;
    }
  }

  &__collaboration {
    display: flex;
    gap: 25px;
    justify-content: center;
    align-items: center;

    @media (width <= 1024px) {
      flex-direction: column;
    }
  }

  &__list {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  &__item {
    padding-left: 42px;
    background-repeat: no-repeat;

    p {
      margin: 0;
      line-height: 32px;
    }

    &:not(:last-child) {
      margin-bottom: 15px;
    }

    &:last-child {
      margin-bottom: 40px;
    }

    &--color {
      background-image: url('../../../assets/images/vector/hp-decorate-img-2.svg');
    }

    &--picture {
      background-image: url('../../../assets/images/vector/hp-decorate-img-3.svg');
    }

    &--gameplay {
      background-image: url('../../../assets/images/vector/hp-decorate-img-4.svg');
    }
  }

  &__button {
    max-width: 194px;
    width: 100%;
    background-color: variables.$black;
    border: none;
    color: variables.$yellow;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    padding: 19px 0;
  }
}
