<section class="hp-promo">
  <h2 id="hp-promo-heading" class="visually-hidden">Промо-акция HP для геймеров</h2>
  <div class="hp-promo__content container">
    <div class="hp-promo__column--left">
      <div class="hp-promo__wrapper-image">
        <picture>
          <source srcset="./assets/images/raster/hp-photo-1x1024.png">
          <img
            src="./assets/images/raster/hp-photo-1.png"
            alt="Монитор HP Studio Play 144Гц"
            width="624"
            height="430"
          />
        </picture>
      </div>
      <div class="hp-promo__collaboration">
        <a class="hp-promo__link" href="#" aria-label="Официальный сайт HP">
          <img
            src="../../../assets/images/vector/hp-logo-1.svg"
            width="80"
            height="80"
            alt="Логотип HP"
          />
        </a>
        <img
          src="../../../assets/images/vector/hp-decorate-img.svg"
          width="90"
          height="20"
          role="presentation"
          alt=""
        />
        <a class="hp-promo__link" href="#" aria-label="Официальный сайт CyberPunk 2077">
          <img
            src="../../../assets/images/vector/hp-cyberpunk-logo.svg"
            width="320"
            height="80"
            alt="Логотип Cyberpunk 2077"
          />
        </a>
      </div>
    </div>
    <div class="hp-promo__column--right">
      <h3 class="hp-promo__title">Полное погружение вместе с HP</h3>
      <p class="hp-promo__text">
        Погрузись в современные экшен-игры с реалистичным изображением с помощью монитора с
        диагональю 23,8 дюйма, созданном для отображения максимально насыщенных цветов. Успевай
        реагировать на любые события с временем отклика 1 мс и частотой в 144 Гц!
      </p>
      <ul class="hp-promo__list" aria-label="Преимущества монитора">
        <li class="hp-promo__item hp-promo__item--color">
          <p>Яркие насыщенные цвета</p>
        </li>
        <li class="hp-promo__item hp-promo__item--picture">
          <p>Кристальная четкость изображения</p>
        </li>
        <li class="hp-promo__item hp-promo__item--gameplay">
          <p>Быстрые движения и плавный геймплей</p>
        </li>
      </ul>
      <button class="hp-promo__button" type="button">Подробнее</button>
    </div>
  </div>
</section>
