@use '../../../styles/variables' as variables;

.hp-promo {
  background-color: variables.$yellow;

  &::before {
    content: '';
    display: block;
    width: 100%;
    height: 70px;
    background-image: url('../../../assets/images/raster/hp-promo-bg.png');
    background-repeat: repeat-x;
  }

  &__content {
    display: flex;
    padding: 70px 36px;

    @media (width <= 768px) {
      flex-direction: column;
      padding: 70px clamp(0.75rem, -0.4105rem + 5.5427vw, 2.25rem);
    }
  }

  &__column {
    &--left {
      max-width: 624px;
      width: 100%;
      margin-right: 32px;

      @media (width <= 1024px) {
        max-width: 460px;
      }

      @media (width <= 768px) {
        margin: 0 auto;
      }
    }

    &--right {
      max-width: 624px;
      width: 100%;

      @media (width <= 1024px) {
        max-width: 460px;
      }

      @media (width <= 768px) {
        max-width: 681px;
      }
    }
  }

  &__title {
    max-width: 560px;
    width: 100%;
    font-family: variables.$font-family-secondary;
    font-size: 62px;
    font-weight: 400;
    line-height: 63px;
    letter-spacing: 0;
    text-align: left;
    margin: 0 0 25px;

    @media (width <= 768px) {
      max-width: 681px;
      width: 100%;
      font-size: clamp(1.875rem, 0.3277rem + 7.3903vw, 3.875rem);
      line-height: 100%;
    }
  }

  &__text {
    margin: 0 0 25px;
    line-height: 31.25px;

    @media (width <= 768px) {
      font-size: clamp(1rem, 0.9033rem + 0.4619vw, 1.125rem);
    }
  }

  &__wrapper-image {
    width: 100%;
    margin: 0 0 26px;

    img {
      width: 100%;
      height: auto;
    }
  }

  &__collaboration {
    display: flex;
    gap: 25px;
    justify-content: center;
    align-items: center;

    @media (width <= 1024px) {
      flex-direction: column;
    }

    @media (width <= 768px) {
      flex-direction: row;
    }

    @media (width <= 335px) {
      margin-bottom: 40px;

      > img {
        width: 44px;
        height: 44px;
      }
    }
  }

  &__list {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  &__item {
    padding-left: 42px;
    background-repeat: no-repeat;

    p {
      margin: 0;
      line-height: 32px;

      @media (width <= 768px) {
        font-size: clamp(1rem, 0.9033rem + 0.4619vw, 1.125rem);
      }
    }

    &:not(:last-child) {
      margin-bottom: 15px;
    }

    &:last-child {
      margin-bottom: 40px;
    }

    &--color {
      background-image: url('../../../assets/images/vector/hp-decorate-img-2.svg');
    }

    &--picture {
      background-image: url('../../../assets/images/vector/hp-decorate-img-3.svg');
    }

    &--gameplay {
      background-image: url('../../../assets/images/vector/hp-decorate-img-4.svg');
    }
  }

  &__button {
    max-width: 194px;
    width: 100%;
    background-color: variables.$black;
    border: none;
    color: variables.$yellow;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    padding: 19px 0;

    @media (width <= 768px) {
      font-size: clamp(1rem, 0.9033rem + 0.4619vw, 1.125rem);
    }
  }

  &__link {
    &--hp {
      @media (width <= 768px) {
        display: block;
        width: clamp(2.75rem, 1.0092rem + 8.3141vw, 5rem);
        height: clamp(2.75rem, 1.0092rem + 8.3141vw, 5rem);

        img {
          width: 100%;
          height: auto;
        }
      }
    }

    &--cyberpunk {
      @media (width <= 768px) {
        display: block;
        width: clamp(10.9631rem, 3.9715rem + 33.3926vw, 20rem);
        height: clamp(2.75rem, 1.0092rem + 8.3141vw, 5rem);

        img {
          width: 100%;
          height: auto;
        }
      }
    }
  }
}
