@use './styles/fonts';
@use './styles/variables' as variables;
@use './assets/scss/functions' as *;
@import '../node_modules/swiper/swiper-bundle.min.css';
@import '../node_modules/swiper/swiper.css';
@import '../node_modules/swiper/modules/navigation.css';
@import '../node_modules/swiper/modules/autoplay.css';

html {
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  min-width: 320px;
  font-family: variables.$font-family-primary;
  font-style: normal;
  font-size: 18px;
  font-weight: 700;
  line-height: 34px;
  letter-spacing: 0;
  text-align: left;
  margin: 0;
}

.container {
  max-width: 1320px;
  width: 100%;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip-path: inset(50%);
  border: 0;
}
