@use '../../../styles/variables' as variables;
@use '../../../assets/scss/functions' as *;

.hero {
  height: 1000px;

  img {
    display: block;
  }

  &__content {
    display: flex;
    justify-content: flex-end;
    align-items: end;
    height: 100%;
    padding: 20px 36px 0;
  }

  &__wrapper {
    background-image: url('../../../assets/images/raster/header-rectangle.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 71px 70px;
    z-index: 1000;
  }

  &__title {
    color: variables.$black;
    font-family: variables.$font-family-secondary;
    font-size: 62px;
    font-weight: 400;
    line-height: 100%;
    letter-spacing: 0;
    margin: 0 0 25px;
    max-width: 484px;
    width: 100%;
    text-align: left;
  }

  &__button {
    border: none;
    background-color: variables.$black;
    color: variables.$yellow;
    font-size: 24px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0;
    text-align: center;
    padding: 19px 50px;
  }

  &__slider {
    width: 100%;
    height: 1000px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
}
