<section class="hero">
  <h1 class="visually-hidden">Промо Киберпанк</h1>
  <app-swiper>
    <div
      class="swiper-slide hero__slider"
      style="background-image: url('./assets/images/raster/hero-photo-1.jpg')"
      aria-label="Главный герой c оружием на фоне города Night City"
      role="img"
    ></div>
    <div
      class="swiper-slide hero__slider"
      style="background-image: url('./assets/images/raster/hero-photo-2.jpg')"
      aria-label="Главный герой возле спортивного автомобиля на фоне города Night City"
      role="img"
    ></div>
    <div
      class="swiper-slide hero__slider"
      style="background-image: url('./assets/images/raster/hero-photo-3.jpg')"
      aria-label="Главный герой мчится на мотоцикле по улицам Night City"
      role="img"
    ></div>
  </app-swiper>
  <div class="hero__content container">
    <div class="hero__wrapper">
      <h2 class="hero__title">Доступно на всех платформах</h2>
      <button class="hero__button" type="button">Узнать больше</button>
    </div>
  </div>
</section>
